:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;

  min-height: 100%;

  overflow-x: hidden;
}

body {
  min-width: 320px;

  background: #0b0f19;

  color: white;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  font-family: inherit;
}